{% layout 'layout.liquid' %}

{% block content %}
<div class="container-md">
    <form action="/products" method="POST">
        <fieldset>
            <legend>Add A New Bird</legend>
            <label class="form-label">Name:</label>
        <input 
            class="form-control" 
            type="text" name="name" 
            placeholder="enter name"
        >
        <label class="form-label">Description:</label>
        <input 
            class="form-control" 
            type="text" name="description" 
            placeholder="Enter description"
        >
        <label class="form-label">Image URL:</label>
        <input 
            class="form-control" 
            type="text" name="img" 
            placeholder="Enter URL"
        >
        <label class="form-label">Price:</label>
        <input 
            class="form-control" 
            type="number" name="price" 
            placeholder="Enter Price"
        >
        <label class="form-label">Qty:</label>
        <input 
            class="form-control" 
            type="number" name="qty" 
            placeholder="Enter Quantity"
        >
        </fieldset>
        <input 
            type="submit"
            value="Add New Bird"
            class="btn btn-success"
        >
        
    
    </form>
</div>
{% endblock %}